
          <div class="row">
            <div class="col-6">
              <form class="form-signin" action="/signup" method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <h1 class="h3 mb-3 fw-normal">Please sign Up</h1>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="first_name"
                      placeholder="First Name" required>
                    <label for="floatingInput">First Name</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="last_name" placeholder="Last Name"
                      required>
                    <label for="floatingInput">Last Name</label>
                  </div>
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" name="email" placeholder="Email"
                      required>
                    <label for="floatingInput">Email</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingInput" name="password"
                      placeholder="Password" required>
                    <label for="floatingInput">Password</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingInput" name="confirm_password"
                      placeholder="Confirm Password" required>
                    <label for="floatingInput">Confirm Password</label>
                  </div>
                  <div class="form-floating">
                    <input type="text" class="form-control" id="floatingInput" name="phone" placeholder="Phone Number"
                      required>
                    <label for="floatingInput">Phone Number</label>
                  </div>
                     
                    <!-- gender -->
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" value="male" id="flexRadioDefault1">
                      <label class="form-check-label" for="flexRadioDefault1">
                        Male
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="gender" value="female" id="flexRadioDefault2"
                        checked>
                           <label class="form-check-label" for="flexRadioDefault2">
                        Female 
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="true" name="is_admin"  id="flexCheckDefault">
                      <label class="form-check-label" for="flexCheckDefault">
                        Is Admin
                      </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign Up</button>
              </form>
            </div>
            <div class="col-6">
              <form class="form-signin" action="/login" method="post">
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <h1 class="h3 mb-3 fw-normal">Please login</h1>
                  <div class="form-floating">
                    <input type="email" class="form-control" id="floatingInput" name="email" placeholder="Email" required>
                    <label for="floatingInput">Email</label>
                  </div>
                  <div class="form-floating">
                    <input type="password" class="form-control" id="floatingInput" name='password' placeholder="Password" required>
                    <label for="floatingInput">Password</label>
                  </div>
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
              </form>
            </div>
          </div>
