<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.88.1">
  <title>Signin Template · Bootstrap v5.1</title>
  <!--add custom css-->
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
  <!-- Bootstrap core CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
</head>
<body class="text-center">
  <table id="table_id" class="table caption-top">
    Login with: <p class="badge bg-primary text-wrap">  <%= user_email %> </p>
    <!-- logout bootstrap -->
  </br>
    <a href="/logout" class="btn btn-primary">Logout</a>
    


    <caption>List of users</caption>
    <thead>
      <tr>
        <th scope="col">#</th>
        <%# Username | Email | Phone Number | Gender | Is Admin (nornal|admin) | Action -> edit(open modal), delete
          (font awesome icon),
          change password (open modal) -> password | confirm password %>
          <th scope='col'>Username</th>
          <th scope='col'>Email</th>
          <th scope='col'>Phone Number</th>
          <th scope='col'>Gender</th>
          <th scope='col'>Is Admin</th>
          <th scope='col'>Action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each_with_index do |user,index| %>
     
      <tr>

       
        <th scope="row"><%= index + 1%></th>
        <th scope='col'> 
          <%= user.first_name %> <%= user.last_name %> </th>
        </th>
  
        <th scope='col'>
          <%= user.email %>
        </th>
        <th scope='col'>
          <%= user.phone %>
        </th>
        <th scope='col'>
          <%= user.gender %>
        </th>
        <th scope='col'>
          <%
           if user.is_admin == 1 || user.is_admin == true %>
           <i class="fas fa-user-shield"></i>
             Is Admin
           <% else %> 
           <i class="fas fa-user"></i>
              Is Users
           <% end %>
        </th>
        
        <th scope='col'>
          <%# delete,edit, button with modal %>
            <%# create buttaon %>
            
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="<%= '#exampleModalDel' + user.id.to_s %>">
                <i class="fas fa-trash-alt"></i>
                Delete
              </button>
              <div class="modal fade" id="<%= 'exampleModalDel' + user.id.to_s %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p> Email : <%= user.email %></p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,go back</button>
                    
                    <form action="/users/<%= user.id %>" method="post">
                      <input type="hidden" name="_method" value="delete">
                      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                      <button type="submit" class="btn btn-danger">Yes,delete</button>
                    </form>
                  </div>
                </div>
              </div>
              </div>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="<%= '#exampleModaledit' + user.id.to_s %>">
                <i class="fas fa-edit"></i>
                Edit
              </button>
              <div class="modal fade" id="<%= 'exampleModaledit' + user.id.to_s %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <%= form_for user do |f| %>
                      <%= f.label 'First Name' %><br>
                      <%= f.text_field :first_name %><br>
                    
                      <%= f.label 'Last Name' %><br>
                      <%= f.text_area :last_name%><br>

                      <!-- email -->
                      <%= f.label 'Email' %><br>
                      <%= f.text_field :email %><br>

                      <%= f.label 'Phone Number' %><br>
                      <%= f.text_field :phone %><br>

                    
                      <%= f.submit "Submit Article" %>
                    <% end %>
                    </div>
                  </div>
                </div>
              </div>
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                  data-bs-target="<%= '#exampleModalPass' + user.id.to_s %>">
                  <!-- change icon -->
                  <i class="fas fa-key"></i>
                  Change password
                </button>
                <div class="modal fade" id="<%= 'exampleModalPass' + user.id.to_s %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                  aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <%= form_for user do |f| %>
                        <%= f.label 'Password' %><br>
                        <%= f.password_field :password %><br>
                        <%= f.label 'Confirm Password' %><br>
                        <%= f.password_field :password_confirmation %><br>
                        <%= f.submit "Submit Article" %>
                      <%= f.submit "Submit Article" %>
                    <% end %>
                  </div>
                </div>
                </div>
        </th>
      </tr>
      <% end %>
    </tbody>
  </table>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</body>
</html>
