    <div class="modal fade" id="<%= 'exampleModaledit' + user.id.to_s %>" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form action="<%= edit_user_path(:id) %>" method="post">
                        <h1 class="h3 mb-3 fw-normal">Edit Profile</h1>
                        <div class="form-floating">
                          <input type="text" class="form-control" id="floatingInput" name="first_name" value="<%= user.first_name %>" placeholder="First Name" required>
                          <label for="floatingInput">First Name</label>
                        </div>
                        <div class="form-floating">
                          <input type="text" class="form-control" id="floatingInput" name="last_name" value="<%= user.last_name %>" placeholder="Last Name" required>
                          <label for="floatingInput">Last Name</label>
                        </div>
                        <div class="form-floating">
                          <input type="email" class="form-control" id="floatingInput" name="email" value="<%= user.email %>" placeholder="Email" required
                            readonly>
                          <label for="floatingInput">Email</label>
                        </div>
                        <div class="form-floating">
                          <input type="text" class="form-control" id="floatingInput" name="phone" value="<%= user.phone %>" placeholder="Phone Number"
                            required>
                          <label for="floatingInput">Phone Number</label>
                        </div>
                        <%# radio button for gender %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,go back</button>
                      <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>