<!DOCTYPE html>
<html>

<head>
  <title>BlogUserAdmin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag 'application' , media: 'all' , 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application' , 'data-turbolinks-track':'reload' %>


          <!--add custom css-->
          <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/sign-in/">
          <!-- Bootstrap core CSS -->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
          <!-- formt awesome -->
          <script src="https://kit.fontawesome.com/1df6dc0ce0.js" crossorigin="anonymous"></script>

          <!-- jquery -->
          <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>      
          <!-- data table -->
          <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
          <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>


            <%= stylesheet_link_tag 'application' , media: 'all' , 'data-turbolinks-track': 'reload' %>
            <style>
              .bd-placeholder-img {
                font-size: 1.125rem;
                text-anchor: middle;
                -webkit-user-select: none;
                -moz-user-select: none;
                user-select: none;
              }

              @media (min-width: 768px) {
                .bd-placeholder-img-lg {
                  font-size: 3.5rem;
                }
              }

            </style>
            <!-- Custom styles for this template -->

</head>

<body>
  <!-- yield -->
  <div class="container-fluid">
    <% if flash[:notice] %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
      <% end %>
        <% if flash[:error] %>
          <div class="alert alert-danger">
            <%= flash[:error] %>
          </div>
          <% end %>
            <%= yield %>
  </div>
  <script>
    $(document).ready( function () {
      $('#table_id').DataTable();
  } );
</script>
</body>

</html>
